*{
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
}
body{
  background-color: #304e84;
}
.navbar{
  padding: 0px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blank{
  
  color: yellow;
}
h1{
  color: white;
  text-align: center;
  margin-top: 18vh;
}
form{
  text-align: center;
}
.form-control{
  width: 70%;
}
textarea{
 
  margin: auto;
}
button{
 
 justify-content: center;
 align-items: center;
 margin: 1rem;
}
.summary{
  color: white;
  margin: 10px 10px 10px 90px;
  padding: 10px 10px 10px 10px;
}

